#result{
  padding: 0 5px;
  background-color: black;
  width: 348px;
  height: 30px;
  color: white;
  font-size: 28px;
  text-align: right;
}

input{
  margin-top: 3px;
  width: 84px;
  height: 28px;
  background-color: lightgray;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}

.clear,.enter{
  margin-top: 3px;
  width: 172px;
  height: 28px;
  background-color: lightgray;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}